/********************************************
* GENERAL STYLING
********************************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

html, body
{
    height: 100%; /* Needed to stretch navbar content to full window height */
}

/* Regular columns */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Used to eliminate initial 15px padding from main */
.main-column-9
{
    float: left;
    width: 75%;
}
/* Columns that have specific responsive logic */
.rspn-col-1 {width: 8.33%;}
.rspn-col-2 {width: 16.66%;}
.rspn-col-3 {width: 25%;}
.rspn-col-4 {width: 33.33%;}
.rspn-col-5 {width: 41.66%;}
.rspn-col-6 {width: 50%;}
.rspn-col-7 {width: 58.33%;}
.rspn-col-8 {width: 66.66%;}
.rspn-col-9 {width: 75%;}
.rspn-col-10 {width: 83.33%;}
.rspn-col-11 {width: 91.66%;}
.rspn-col-12 {width: 100%;}

[class*="col-"]{
    float: left;
    padding: 15px; /* adjust as needed */
    /*border: 1px solid blue;*/
}

.row{
    width: 100%;   
    float: left;
    /* pading: 15px */
    /*border: 1px solid blue;*/    
}


@media only screen and (max-width: 1065px) {
    /* For mobile phones or small screen: */
    [class*="col-"], .main-column-9 {
        width: 100%;
        text-align: center;
    }
}

a{
    text-decoration: none;
    color: inherit;
}

a:visited{
    color: inherit;
}

.img{
    max-width: 100%;
}

h1
{
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
}
h2
{
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
}
h3
{
    font-size: 2em;
}
h4
{
    font-size:  1.5em;
    font-weight: 400;
}
/********************************************
* NAV STYLING
*
* The navbar changes into an accordion style
* once screen size reaches a certain minimum
********************************************/
.nav
{
    position: fixed;
    padding: 0px;
    height: 100%;
    background-image: url(images/wood_background_sidebar.png);
    background-size: contain;
}

.nav-container
{ 
    padding: 20px 0;
    margin-top: 20px;
    text-align: center;
    float: center;
}

.navbar li
{
    list-style-type: none;
    color: white;
    margin-top: 30px;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
   /* background: linear-gradient(to right, rgba(0,89,220, 0) 50%, rgb(252,92,92) 50%);*/
    background-size: 200% 100%;
    background-position:left bottom;
    transition: background-position 2s, color 2s;
}

.navbar li:hover
{
    color: white;
   /* background: linear-gradient(to right, rgb(0,89,220) 34%, rgb(252,92,92) 65%);*/
    background-position: right bottom;
    background-size: 300% 100%;
}

@keyframes nav-hover
{
    from{background-color: white;}
    to{background-color: black;}
}

.beard-submenu
{
    margin-left: 50px;
    font-size: 0.9em;
}

.logo-div
{
    padding: 20px 0;
    text-align: center;
}

/* Placeholder for logo */
.logo
{
    max-width: 100%;
}

.social-media
{
    margin-top: 75px;
    text-align: center;
}

/********************************************
* MAIN STYLING
*
* The navbar changes into an accordion style
* once screen size reaches a certain minimum
********************************************/
main
{
    height: auto;
    position: absolute;
    right: 0; /* anchor main to right side of page */
}

.intro-div
{
    padding: 10px;
    color: white;
    height: 800px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(images/bridge.jpg);
    background-size: cover;
    background-position: center;
}
.intro-div h1, .intro-div h2
{
    font-weight: 300;
    line-height: normal;
}

.intro-div h1
{
    font-size: 4em;
}

.intro-div h2
{
    font-size: 3em;
}

.opening
{
    background-color: rgb(230,230,230);
}

.opening-text
{
    margin-bottom: 15px;
}

.opening-text h1
{
    color: rgb(10,62,112)
}

.opening h1
{
    text-transform: uppercase;
    margin-bottom: 10px;
}

.opening p
{
    font-size: 1.2em;
    text-align: justify;
}

.opening-img
{
    text-align: center;
}

.opening-img img
{
    max-width: 80%;
}

.testimonials
{
    background-color: rgb(235,235,235);
    text-align: center;
}

.testimonials h1
{
    color: crimson;
    text-transform: uppercase;
}

.testimonials h3
{
    font-weight: 300;
    margin-bottom: 5px;
}

/* Bubble Slider */

.bubble blockquote {
	margin: 10px 10px 0;
	background: #fff;
	padding: 60px;
	position: relative;
	border: none;
	border-radius: 8px;
	font-size: 1.25em;
	color: #1e528e;
}
.bubble blockquote:before, .bubble blockquote:after {
	content: "\201C";
	position: absolute;
	font-size: 80px;
	padding: 10px;
	line-height: 1;
	color: #1e528e;
}
.bubble blockquote:before {
	top: 0;
	left: 10px;
}
.bubble blockquote:after {
	content: "\201D";
	right: 10px;
	bottom: -.5em;
}
.bubble div {
	width: 0;
	height: 0;
	border-left: 0 solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
	margin: 0 0 0 60px;
	margin-bottom: 10px;
}
.bubble cite 
{
	padding-left: 20px;
	font-size: 1.25em;
    color: black;
}

/********************************************
* BEARD PAGE STYLING
*
********************************************/

.beard
{
 
}

.beard-intro
{
    color: rgb(50,50,50);
    text-align: center;
}

.beard-intro p
{
    font-size: 1.2em;
}
.beard-intro h1
{
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 500;
}

#beard-list
{
    background-color: rgb(240,240,240);
    padding: 10px;
}

#beard-list li
{
    display: inline;
    font-size: 1.5em;
    text-transform: uppercase;
}

#beard-list li:not(:first-child):before {
    content: " | ";
}

.product-types
{
    color: rgb(50,50,50);
    text-align: center;
    display: flex;
    /* flex wrap */
}

.product-types p
{
    font-size: 1.2em;
}

.signature-background
{
    background-image: url(images/signature-background.jpg);
}

.expedition-background
{
    background-image: url(images/expedition_background.jpg);
}

.hearth-background
{
    background-image: url(images/hearth-background.jpg);
}

/* Overall style for all product headers */
.product-header-background
{
    background-position: center;
    height: 200px;
    line-height: 200px;
}

.product-header-background h1
{
    text-transform: uppercase;
    font-size: 4em;
    color: white;
}

.beard
{
    margin-bottom: 30px;
}
.beard div
{
    text-align: center;
}

.product
{
    height: 420px;
}

.beard img
{
    width: 360px;
    max-width: 100%;
}


.beard span
{
    color: darkred;
}

.item-backside
{
    padding: 10px;
    background-color: rgb(220,220,220);
}

.item-backside h3
{
    margin-bottom: 20px;
    font-weight: 300;
}

.item-backside p
{
    font-size: 1.2em;
    font-weight: 300;
}

.red
{
    color: crimson;
}

.blue
{
    color: rgb(10,62,112)
}

.green
{
    color: forestgreen;
}
/********************************************
* FOOTER STYLING
*
* The navbar changes into an accordion style
* once screen size reaches a certain minimum
********************************************/

footer
{
    height: 75px;
    background-color: rgb(60,60,60);
    line-height: 75px;
    text-align: center;
    color: white;
}
