/********************************************
* GENERAL STYLING
********************************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

html, body
{
    height: 100%; /* Needed to stretch navbar content to full window height */
}

/* Regular columns */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Used to eliminate initial 15px padding from main */
.main-column-9
{
    background-image: url(images/wood_background_sidebar.png);
    background-attachment: fixed;
    background-size: cover;
    /* This fills empty space with the background image */
    padding: 0 20px;
    float: left;
    width: 75%;
}
/* Columns that have specific responsive logic */
.rspn-col-1 {width: 8.33%;}
.rspn-col-2 {width: 16.66%;}
.rspn-col-3 {width: 25%;}
.rspn-col-4 {width: 33.33%;}
.rspn-col-5 {width: 41.66%;}
.rspn-col-6 {width: 50%;}
.rspn-col-7 {width: 58.33%;}
.rspn-col-8 {width: 66.66%;}
.rspn-col-9 {width: 75%;}
.rspn-col-10 {width: 83.33%;}
.rspn-col-11 {width: 91.66%;}
.rspn-col-12 {width: 100%;}

[class*="col-"]{
    float: left;
    padding: 15px; /* adjust as needed */
    /*border: 1px solid blue;*/
}

.row{
    width: 100%;   
    float: left;
    /* pading: 15px */
    /*border: 1px solid blue;*/    
}


@media only screen and (max-width: 1065px) {
    /* For mobile phones or small screen: */
    [class*="col-"], .main-column-9 {
        width: 100%;
        text-align: center;
    }
    
    .main-column-9
    {
        padding: 0px;
    }
}

a{
    text-decoration: none;
    color: inherit;
}

a:visited{
    color: inherit;
}

.img{
    max-width: 100%;
}

h1
{
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
}
h2
{
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
}
h3
{
    font-size: 2em;
}
h4
{
    font-size:  1.5em;
    font-weight: 400;
}
/********************************************
* NAV STYLING
*
* The navbar changes into an accordion style
* once screen size reaches a certain minimum
********************************************/
#nav
{
    position: fixed;
    padding: 0px;
    height: 100%;
    background-image: url(images/wood_background_sidebar.png);
    background-size: contain;
}

#alternate-navbar
{
    background-image: url(images/wood_background_sidebar.png);
    background-size: contain;
    text-align: center;
}

#alternate-navbar img
{
    width: 250px;
    max-width: 100%;
}
.nav-container
{ 
    padding: 20px 0;
    margin-top: 20px;
    text-align: center;
    float: center;
}

.navbar li, #alternate-navbar li
{
    list-style-type: none;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 2.5em;
   /* background: linear-gradient(to right, rgba(0,89,220, 0) 50%, rgb(252,92,92) 50%);*/
    background-size: 200% 100%;
    background-position:left bottom;
    transition: background-position 2s, background-color 1s;
}

#alternate-navbar ul
{
    background-color: rgba(100,50,50,0.1);
}

#alternate-navbar li
{
    font-size: 2em;
    display: inline;
    padding: 0 20px;
}

#alternate-navbar li:hover
{
    font-size: 2em;
    background-color: rgba(207,72,72,0.5);
}

@media screen only and (max-width < 1065)
{   
    #nav
    {
        display: none;
    }
}
.navbar li:not(:first-child)
{
    margin-top: 15px;
}

.navbar li:hover
{
    background-color: rgba(207,72,72,0.5);
   /* background: linear-gradient(to right, rgb(0,89,220) 34%, rgb(252,92,92) 65%);*/
    background-position: right bottom;
    background-size: 300% 100%;
}

@keyframes nav-hover
{
    from{background-color: white;}
    to{background-color: black;}
}

.beard-submenu
{
    margin-left: 50px;
    font-size: 0.9em;
}

.logo-div
{
    padding: 20px 0;
    text-align: center;
}

/* Placeholder for logo */
.logo
{
    width: 275px;
    max-width: 100%;
}

.social-media
{
    margin-top: 75px;
    text-align: center;
}

.social-media img
{
    width: 50px;
    max-width: 100%;
    margin: 0 10px;
}

.social-media img:hover
{
    cursor: pointer;
}

#insta:hover
{
    
}

/* - Glitchy, investigate fix
#mailme:hover
{
    content: url('images/mail_icon_hover.png');
    margin: 0 10px;
}
*/

/********************************************
* MAIN STYLING
*
* The navbar changes into an accordion style
* once screen size reaches a certain minimum
********************************************/
main
{
    height: auto;
    position: absolute;
    right: 0; /* anchor main to right side of page */
}

.intro-div
{
    padding: 10px;
    color: white;
    height: 800px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(images/fern.jpg);
    background-size: cover;
    background-position: center;
}

.intro-div h1, .intro-div h2
{
    position: relative;
    font-weight: 300;
    line-height: normal;
    animation: IntroAppear 1s linear;
}


@keyframes IntroAppear
{
    from {color: rgba(255,255,255, 0.0); top: -50px;}
    to   {color: rgba(255,255,255, 1); top: 0px;}
}

.intro-div h1
{
    font-size: 4em;
}

.intro-div h2
{
    font-size: 3em;
}

#expedition-text
{
    content: 'Hi';
}

.opening
{
    color: rgb(50,50,50);
    background-color: rgb(230,230,230);
}

.opening-text
{
    font-weight: 300;
    margin-bottom: 15px;
}

.opening-text h1
{
    color: rgb(10,62,112);
    font-weight: 600;
}

.opening h1
{
    text-transform: uppercase;
    margin-bottom: 10px;
}

.opening p
{
    font-size: 1.8em;
    
    text-align: justify;
}

.signed
{
    float: right;
    font-size: 2em;
    font-family: 'Pacifico', cursive;
}

.opening-img
{
    text-align: center;
}

.opening-img img
{
    max-width: 80%;
}

.testimonials
{
    background-color: rgb(235,235,235);
    text-align: center;
}

.testimonials h1
{
    color: rgb(10,62,112);
    text-transform: uppercase;
}

.testimonials h3
{
    font-weight: 300;
    margin-bottom: 5px;
}

/* Bubble Slider */

.bubble blockquote {
	margin: 10px 10px 0;
	background: #fff;
	padding: 60px;
	position: relative;
	border: none;
	border-radius: 8px;
	font-size: 1.25em;
	color: #1e528e;
}
.bubble blockquote:before, .bubble blockquote:after {
	content: "\201C";
	position: absolute;
	font-size: 80px;
	padding: 10px;
	line-height: 1;
	color: #1e528e;
}
.bubble blockquote:before {
	top: 0;
	left: 10px;
}
.bubble blockquote:after {
	content: "\201D";
	right: 10px;
	bottom: -.5em;
}
.bubble div {
	width: 0;
	height: 0;
	border-left: 0 solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
	margin: 0 0 0 60px;
	margin-bottom: 10px;
}
.bubble cite 
{
	padding-left: 20px;
	font-size: 1.25em;
    color: black;
}

.america
{
    height: 400px;
    background-image: url(images/america.jpg);
    background-position: right;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}

/********************************************
* BEARD PAGE STYLING
*
********************************************/

.beard
{
 
}

.beard-intro
{
    background-color: rgb(250,250,250);
    text-align: center;
}

.beard-intro p
{
    font-size: 1.2em;
}
.beard-intro-header h1
{
    background-color: rgb(157,22,22);
        /*rgb(10,62,112);*/
    padding: 10px 0;
    margin-bottom: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 500;
}

.beard-intro h4
{
    /*background-color: rgb(187,52,52);*/
    color: rgb(157,22,22);
    margin: 10px 0 30px 0;
    padding: 10px;
}


#beard-list
{
    /*background-color: rgb(240,240,240);*/
    /*background-color: rgb(240,240,240);*/
    padding: 10px;
    margin-bottom: 10px;
}

.line-container
{
    text-align: center;
}

.list-bottom
{
    width: 150px;
    margin: auto;
    display: block;
    border-bottom: 1px solid rgb(150,150,150);
}

#beard-list li
{
    display: inline;
    font-size: 1.5em;
    text-transform: uppercase;
}

#beard-list li:not(:first-child):before {
    content: " | ";
}

.products-button-row
{
    text-align: center;
    margin-bottom: 5px;
}

#products-button
{
    
    color: white;
    
    background-color: rgb(200,200,200);
    font-size: 1.5em;
    display: inline-block;
    padding: 0px 50px;
    transition: background-color 0.5s, color 0.5s;
}

#products-button:hover
{
    
    color: white;
    background-color: rgb(150,150,150);
    cursor: pointer;
}

.product-types
{
    background-color: rgb(250,250,250);
    color: rgb(50,50,50);
    margin-bottom: 10px;
    padding: 0 10px 10px 10px;
}

.product-type-item
{
    background-color: rgb(240,240,240);
}

.product-type-item h2
{
    color:  rgb(157,22,22)!;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: rgb(157,22,22);
    font-weight: 400;
}

.product-types img
{
    width: 250px;
    max-width: 100%;
}
.product-types p
{
    text-indent: 0pxl
    padding: 10px;
    display: inline;
    font-size: 1.2em;
}

.signature-background
{
    background-image: url(images/signature-background.jpg);
}

.signature-items, #expedition-items, #hearth-items
{
    /*background-color: rgba(50,50,50,0.1);*/
    color: white;
}

.expedition-background
{
    background-image: url(images/fern.jpg);
}

.hearth-background
{
    background-image: url(images/hearth-background.jpg);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.signature-background, .expedition-background, .hearth-background
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.product-description
{
    color: white;
    background-color: rgba(200,200,200,0.2);
    text-align: center;
    padding: 10px 100px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 800px)
{
    .product-description
    {
        padding: 10px;
    }
}

.product-details
{
    background-color: rgba(157,22,22, 0.4);
        /*rgba(10,62,112,0.5);*/
    width: 360px;
    max-width: 360px;
    margin: auto;
    padding: 5px 0;
}

.product h3
{
    font-weight: 400;
}

.product h4
{
    color: rgb(200,200,200);
}

/* Overall style for all product headers */
.product-header-background
{
    background-position: center;
    height: 220px;
    color: white;
}

.product-header-background h1
{
    text-transform: uppercase;
    font-size: 4em;
    transition: all .6s;
}

.product-header-background h3
{
    transition: all .6s;
}

.product-header-background:hover
{
    font-size: 110%;
    text-shadow: 10px 10px rgba(0,0,0,0.5);
}




.beard div
{
    text-align: center;
}

.test
{
    
}
.products-header
{
    background-image: url(images/teddy.jpg);
    background-position: center;
    color: rgb(50,50,50);
    font-weight: 400;
    padding-bottom: 30px;
}

.products-header h1
{
    padding: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 400;
}

@media only screen and (max-width: 500px)
{
    .products-header
    {
        padding: 0 0 30px 0;
    }
}

.products-header h3
{
    display: flex;
    align-items: flex-end;
    vertical-align: bottom;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: white;
    font-weight: 400;
    background-color: rgb(147,12,12);
    border-radius: 0 0 15px 15px; 
    height: 50px;
    transition: background-color 0.5s, height 0.5s;
}

.products-header h3:hover
{
    cursor: pointer;
    background-color: rgb(167,42,42);
    height: 60px;
}

.products-header h4
{
    padding: 0 100px;
    color: white;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1065px)
{
    .products-header h4
    {
        padding: 0 10px;
        color: white;
        margin: 30px 0 30px 0;
    }
}

.beard img
{
    width: 360px;
    max-width: 100%;
    border-radius: 8px;
}




.item-backside
{
    padding: 10px;
    background-color: rgb(220,220,220);
}

.item-backside h3
{
    margin-bottom: 20px;
    font-weight: 300;
}

.item-backside p
{
    font-size: 1.2em;
    font-weight: 300;
}

.red
{
    color: crimson;
}

.blue
{
    color: rgb(10,62,112)
}

.green
{
    color: forestgreen;
}

/* MODAL */
/* This class greys out the background to make the modal more apparent*/
#modalBtn1
{
    cursor: pointer;
    transition: all .6s;
}

#modalBtn1:hover
{
    font-size: 120%;
    color: rgba(207,72,72,1);
}

.modal{
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* This is the actual service modal */
.beard-modal{
    color: black;
    background-color: white;
    margin: auto;
    width: 40%;
    animation-name: modalAppear;
    position: relative;
    animation-duration: 1s;
}

#modal-footer
{
    background-color: rgb(157,22,22);
    height: 100px;
}

@media only screen and (max-width: 1200px)
{
    .beard-modal
    {
        width: 70%;
    }
}

@media only screen and (max-width: 750px)
{
    .beard-modal
    {
        width: 90%;
    }
}

/* Animation for modal */

@keyframes modalAppear
{
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.close-div
{

}

#close{
    color: white;
    float: right;
    padding-right: 10px;
    font-size: 3em;
    font-weight: bold;
}

#close:hover{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/********************************************
* FOOTER STYLING
*
* The navbar changes into an accordion style
* once screen size reaches a certain minimum
********************************************/

footer
{
    height: 75px;
    background-color: rgb(60,60,60);
    line-height: 75px;
    text-align: center;
    color: white;
}
